.home-container {
  display: flex;
  justify-content: center;
}
.product {
  display: grid;
  margin-top: 9ch;
  grid-template-columns: auto auto auto auto;
  grid-gap: 5ch;
}

.navbar {
  display: flex;
  justify-content: center;
  border-radius: 1ch;
  width: 90%;
  background-color: rgb(247, 204, 200);
  padding: 10px 0px 0px 10px;
  position: fixed;
  box-shadow: rgb(155, 166, 177) 0px 20px 30px -10px;
}
#cart {
  margin-left: 6in;
}
